nav {
    height: 5rem;
    width: 100vw;
    display: grid;
    place-items: center;
    position: relative;
    top: 0;
    left: 0;
    z-index: 99;
}

.navbar-container {
    padding: 10px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.navbarLogo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoImg img {
    width: 6rem;
}

.logoTitle {
    font-size: 1.5rem;
    font-weight: bold;
}

.links {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.links li {
    padding: 10px;
}

.navbarToggleBtn {
    display: none;
}

@keyframes animateNavItems {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 1024px) {
    .navbarToggleBtn {
        display: inline-block;
        font-size: 1.8rem;
        cursor: pointer;
    }
    
    .logoTitle {
        display: none;
    }
    
    .links {
        position: absolute;
        display: block;
        flex-direction: column;
        top: 100%;
        width: 100%;
        left: 0;
        background-color: #bcbce7;
    }

    .links ul li {
        width: 100%;
        text-align: center;
        cursor: pointer;
        transition: all 200ms ease;
        animation: animateNavItems 1000ms ease;
    }

    .links a {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 15px 10px;
    }

    .show-navbar {
        display: flex;
    }

    .hide-navbar {
        display: none;
    }
}

