*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans Korean';
    line-height: 1.7;
}

.container {
    width: 100%;
    max-width: 1920px;
    margin-inline: auto;
}

h1, h2, h3, h4, h5 {
    line-height: 1.2;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

img {
    display: block;
    object-fit: cover;
    width: 100%;
}